/* LogInForm.css */

.login-card {
  background-color: #ffffff62 ;
  border-radius: 10px;
  border: solid rgba(39, 35, 33, 0.192) 0.5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.295);
  width: 320px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  
}

.login-card h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}


.login-card input {
  width: 80%;
  padding: 2px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  height: 25px;
  font-family: 'Mooli', sans-serif;
}

.login-card button {
  background-color: #62865d;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  font-family: 'Mooli', sans-serif;
  
}

.login-card button:hover {
  background-color: #70dd5a;
}

.error-message {
  color: red; /* Set text color to red */
  font-size: 12px; /* Set font size to make it smaller */
}