/* SignUpForm.css */

.profile {
  background-color: #ffffff62 ;
  border-radius: 10px;
  border: solid rgba(39, 35, 33, 0.192) 0.5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.295);
  width: 320px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  
}

.profile h2 {
  color: #000000;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.profile input {
  width: 80%;
  padding: 2px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  height: 25px;
  font-family: 'Mooli', sans-serif;
}

.profile label {
  display: block; 
  margin-top: 1px;
  font-size: 12px;
  font-weight: bold; 
  text-align: center;
  color: #25571e; 
}

.profile button {
  background-color: #62865d;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  font-family: 'Mooli', sans-serif;
}

.profile button:hover {
  background-color: #70dd5a;
}
